{% extends 'base.html' %}

{% block content %}
    <h2>Catálogo de Produtos</h2>
    <table border="1" cellpadding="10" cellspacing="0" style="width: 100%; text-align: left;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome do Produto</th>
                <th>Categoria</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            {% for p in produtos %}
            <tr>
                <td><a href="{% url 'detalhe_produto' p.id %}">{{ p.id }}</a></td>
                <td>{{ p.nome }}</td>
                <td>{{ p.categoria }}</td>
                <td>R$ {{ p.preco }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}