<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>
<body>
    <header>
        <nav>
            <h1>
                Contato
            </h1>
            <ul>
                <li>
                    C1
                </li>
                <li>
                    C2
                </li>
            </ul>
        </nav>
    </header>
    <p>
        <a href="{% url 'principal' %}">Página inicial</a>
    </p>
    <p>
        <a href="{% url 'sobre' %}">Sobre</a>
    </p>
</body>
</html>